.footer {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  color: #dd300f;
  font-family: "Bruno Ace", cursive;
  background-color: black;
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
}

.facebookLink > a,
.contactLink > a,
.designed > a {
  padding: 3px;
  transition: scale 1s;
}

.facebookLink,
.footer__mainDiv {
  display: flex;
  align-items: center;
}

.footer__mainDiv {
  justify-content: space-around;
}

.header__seperator1 {
  color: white;
}

.header__seperator2 {
  color: white;
}

.facebookLink {
  justify-content: center;
  color: #1877f2;
}

.facebook:hover,
.contact:hover {
  scale: 1.1;
}

.footer__title {
  font-size: 1em;
}

.designed_link {
  color: white;
}

.designed_link:hover {
  color: #03a062;
}

.facebookLink,
.contactLink,
.designed {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  font-size: large;
}
.admin {
  font-size: x-small;
  align-self: end;
  height: min-content;
}

.header__separatorMobile1,
.header__separatorMobile2 {
  display: none;
}

@media screen and (max-width: 776px) {
  .footer__mainDiv {
    flex-direction: column;
  }
  .facebookLink,
  .contactLink,
  .designed {
    width: fit-content;
  }
  .facebookLink {
    justify-content: center;
  }
  .header__seperator1,
  .header__seperator2 {
    display: none;
  }
  .header__separatorMobile1,
  .header__separatorMobile2 {
    display: block;
    width: 80%;
    border: solid 1px white;
    border-style: inset;
  }
  .admin {
    margin-top: 1em;
  }
}
