.productDetails__container {
  max-width: 1000px;
  margin: 20px auto;
  margin-top: 5em;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.productDetails__top {
  display: flex;
  align-items: center;
}

.productDetails__left {
  max-width: 50%;
  margin-bottom: 20px;
}
.productDetails__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productDetails__right {
  display: flex;
  flex-direction: column;
}

.tab {
  margin-left: 1.5em;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.tab button {
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.2em;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #9e9b9b;
}

.productDetails__tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-left: 1em;
  box-shadow: -2px 2px 2px 2px #9e9b9b;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.productDetails__tabcontent > td {
  color: black;
}

.productDetails__tabcontent > td > p {
  color: #666;
}

.productDetails__tabcontent h1,
.productDetails__tabcontent h2,
.productDetails__tabcontent h3 {
  margin-top: 0;
}

.productDetails__cart {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
}

.productDetails__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.productDetails__bottom > h3 {
  font-size: 32px;
}

.productDetails__right .hintArea {
  display: flex;
  align-items: center;
}

.hintArea .discogsHintText {
  width: 120px;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  z-index: 2;
  border: solid 1px black;
  position: relative;
  left: 10%;
  top: 20px;
}

/* Styles for table headers */
.productDetails__right .productDetails__line h2 {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Styles for table cells */
.productDetails__right .productDetails__line p {
  margin: 0;
}

.productDetails__right .productDetails__line {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styles for track listing link */
.productDetails__right .productDetails__tabcontent a {
  color: #1765ee;
  text-decoration: none;
  transition: color 0.3s;
}

/* Hover style for track listing link */
.productDetails__right .productDetails__tabcontent a:hover {
  color: #0d47a1;
}

/* Styles for table headers */
.productDetails__right .productDetails__line h2 {
  flex-shrink: 0;
  width: 120px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Styles for table cells */
.productDetails__right .productDetails__line p {
  flex-grow: 1;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .productDetails__left {
  }

  .productDetails__right {
  }

  .productDetails__tabcontent {
    display: block;
  }
}
