body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a,
:any-link {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  color: red;
  font-weight: 700;
  display: block;
  transition: 0.3s;
}

a:visited {
  text-decoration: none;
  color: red(113, 247, 60);
}
a:active {
  text-decoration: none;
  color: rgb(114, 32, 32);
}

.updateLink {
  background-color: black;
  border-radius: 0.2em;
}

.grid-container {
  display: grid;
  padding-top: 3rem;
  padding-left: 8%;
  padding-right: 8%;
  margin: 1.5rem;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: rgba(40, 40, 40, 0.9);
  text-align: center;
  margin: 5px 0;
  border-radius: 0.2em;
  border: 1px solid #e1dfdf;
  color: red;
}

.center {
  text-align: center;
}

.home__paginator {
  display: inline-block;
  margin-bottom: 2em;
}

.home__paginator button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #5e5d5d;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home__paginator button:last-child {
  margin-right: 0;
}

.home__paginator button:hover {
  background-color: #555;
}

.home__paginator .active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

@media screen and (max-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
  }
}
